@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "IRANSans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/IRANSans.ttf") format("Truetype");
  }
  @font-face {
    font-family: "Lalezar";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Lalezar-Regular.ttf") format("Truetype");
  }
  :root img {
    -webkit-user-drag: none;
  }
  *::-webkit-scrollbar {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #f0f0f0;
    width: 5px;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #093e83;
  }
  *::-webkit-scrollbar-thumb:active {
    background-color: #ffdd00;
  }
}
